.searchbar {
  max-width: 30rem;
  margin: 20px auto;
}

.intro {
  max-width: 30rem;
  margin: 20px auto;
  text-align: center;
}

.current {
  max-width: 30rem;
  margin: 20px auto;
}

footer a {
  color: dimgrey;
  font-size: 0.5rem;
  text-decoration: none;
}

.github-link {
  width: 55%;
}
